<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Les Requêtes</h1>

    <ul>

        <li>
            <h2>Categorie :</h2>
            <a href="http://127.0.0.1:5000/categorie">Récupérer le top playlist par catégorie</a>
        </li>
        <li>
            <h2>Playlist by id :</h2>
            <a href="http://127.0.0.1:5000/playlist?id=2Ikjjx2x7HX0Iw90AAKgXS">Récupérer une playlist par id</a>
        </li>
        <li>
            <h2>Artist by id :</h2>
            <a href="http://127.0.0.1:5000/artist?id=1rT9J8vtPCzEKL7oGntxnr">Récupérer une playlist par id</a>
        </li>
        <li>
            <h2>Albums by Artist :</h2>
            <a href="http://127.0.0.1:5000/albumsArtist?id=1rT9J8vtPCzEKL7oGntxnr">Récupérer les albums par artist</a>
        </li>
        <li>
            <h2>Albums by Artist per country:</h2>
            <a href="http://127.0.0.1:5000/albumsCountry?name=jackson&country=fr">Récupérer les albums par artiste dans un pays donné</a>
        </li>
        <li>
            <h2>Number of followers by playlist:</h2>
            <a href="http://127.0.0.1:5000/followers?id=2wTyHjihNbUovf1uRE4GMh">Récupérer les albums par artiste dans un pays donné</a>
        </li>


    </ul>
</body>

</html>